<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>匯率計算機</title>
  <link rel="stylesheet" href="all.css">
</head>
<body>
  <div class="wrap">
    <h1>匯率計算機</h1>
    <span>下方請輸入台幣金額</span>
        <div class="calculator" id="exchangeCalculator">
            <div class="currencyList clearfix">
                <span>下方請選擇幣值</span>
                <ul>
                  <li v-for='item in exchangeRate'>
                    <a href='#' @click.prevent='currentData(item)' :class='change(item)'>{{item.country}}</a>
                  </li>
                </ul>
             </div>
             <div class="mask">
               <input type='number' v-model='inputMoney'>
               <span class="result"> -- 可兌換{{calculateMoney}}{{currentCountry}} --</span>
             </div>
        </div>
        <div class="footer">
          <p>資料來源：<a href="https://rate.bot.com.tw/xrt?Lang=zh-TW" target="_blank">臺灣銀行牌告匯率</a> (牌價最新掛牌時間：2020/07/31 16:02)</p>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src='all.js'></script>
</body>
</html>